
<script>
	var data = <%= raw @feed.to_json %> 
</script>
<div class="col-lg-8 col-lg-offset-2">
	<% @posts.each do |post| %> 
		<% json_data = JSON.parse(post.json_data)%> 
		<div class="post">
			<h4><%= json_data["message"]%> </h4>
			<h6>Likes: <%= post.likes %> </h6>
		</div>
	<%end%> 
</div>
