<!DOCTYPE html>
<html>
<head>
  <title>FBTest1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<% if user_signed_in? %> 
<%= link_to 'logout',destroy_user_session_path, method: 'DELETE'%> 
<%end%> 
	<%= yield %>
</div>
</body>
</html>
